In [1]:
import pandas as pd

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width: 100% !important;}</style>"))

/var/folders/dz/f9dqd7pd5790cn4sfmjmbyg80000gn/T/ipykernel_66101/962831163.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [5]:
invoices = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/invoices.csv')

In [8]:
invoices.head()
invoices.dtypes
invoices['Date of Meal'].value_counts()

2017-06-18 21:00:00+02:00    11
2018-04-10 22:00:00+02:00    11
2014-11-27 07:00:00+01:00    11
2017-12-26 07:00:00+01:00    11
2015-12-25 22:00:00+01:00    11
                             ..
2015-04-18 12:00:00+02:00     1
2018-10-11 22:00:00+02:00     1
2014-09-08 12:00:00+02:00     1
2018-12-31 22:00:00+01:00     1
2017-03-08 08:00:00+01:00     1
Name: Date of Meal, Length: 15689, dtype: int64

In [15]:
invoices

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment,Mear Price
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469,Breakfast,False,NaN
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22,Dinner,False,NaN
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314,Lunch,False,NaN
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438,Dinner,False,NaN
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690,Lunch,False,NaN
...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],9,Breakfast,False,NaN
50013,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25,Breakfast,False,NaN
50014,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],160,Dinner,False,NaN
50015,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497,Dinner,False,NaN
50016,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],365,Lunch,False,NaN

#### Data type conversion

In [9]:
#.astype()
invoices['Date'] = invoices['Date'].astype('datetime64')
invoices['Type of Meal'] = invoices['Type of Meal'].astype('category')
invoices['Meal Price'] = invoices['Meal Price'].astype('int64')
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int64
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [10]:
invoices.select_dtypes(include = 'category').head()

  Type of Meal
0    Breakfast
1       Dinner
2        Lunch
3       Dinner
4        Lunch

#### Conversion helper functions, like pd.to_numeric or pd.to_datetime

In [11]:
invoices.loc[45612, 'Meal Price'] = 'I am here'
invoices.loc[45620, 'Mear Price'] = 'Me Too'

In [12]:
invoices['Meal Price'].apply(lambda x:type(x)).value_counts()

<class 'int'>    50016
<class 'str'>        1
Name: Meal Price, dtype: int64

In [14]:
invoices['Meal Price'][invoices['Meal Price'].apply(lambda x:isinstance(x, str))]

45612    I am here
Name: Meal Price, dtype: object